*{
    padding: 0;
    margin: 0;
    font-size: 1em;
}

header{
    padding: 10px 20px;
    background-color: orange;
    font-size: 2em;
}

main{
    background-color: orange;
    padding: 20px 0;
}

p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 10px 0;
}

.musicName{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}


.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: white;
     display: inline-block;
     margin: 10px 0;
     display: flex;
     align-items: center;
     justify-content: center;
}

.linkButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-1px);

}
.resume{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    
}
.imagem:hover{
    transform: translateY(-2px);
    transition: .3s ease all;
}
.F{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    text-decoration-color: none;
    text-decoration-style: none;
    font-size: 1em;
    color: brown;
    background-color: white;
    padding: 10px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    transition: .3s ease all;
    margin: 10px 0;
    
}
a:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-1px);
}
footer{
    background-color: black;
    color: white;
    padding: 5px 0px 3em 0px;
    display: block;

}
